/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/ui/styles/home.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.home_text_radiant__MsiQB {
  color: #F79F1F;
}

.home_bg_radiant__UHSmc {
  background-color: #F79F1F;
}

.home_fit_content__q_uBL {
  width: fit-content;
}
